{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->

<!--binbash leverage documetation-->
<section class="first-gradiant-body w-100">
  <div class="md-grid conteiner-row pt-1 pt-lg-5 my-4">
    <div class="px-3 ctx-header-text conteiner">
      <div class="conteiner-row">
        <p class="h1 text-xs-center">
          binbash
          <img src="assets/images/logos/leverage-title-logo.svg" class="mx-3 leverage-title-logo" height="22%"/>
          documentation
        </p>
      </div>
      <img src="assets/images/logos/binbash-landing-header.svg" class="laverage-header-img d-lg-none d-xl-none mx-auto mb-5" />
      <p class="h3 text-xs-center">The leading, easy to deploy, reusable and most automated solution for defining, provisioning and managing your secure and scalable multi-account AWS infrastructure environment.</p>
      <div class="conteiner-row conteiner-xs">
        <button
          type="button"
          title="{{ page.next_page.title | e }}"
          onclick="location.href='https://leverage.binbash.com.ar/welcome/'"
          class="btn-dark btn-xl-large btn-lg-large mx-3  mt-3 my-md-5 my-lg-5 my-xl-5 box-shadow"
        >
            Get Started
        </button>
        <button
          type="button"
          title="{{ page.next_page.title | e }}"
          onclick="window.open('https://join.slack.com/t/binbashar/shared_invite/zt-fw1692b6-9k4ADsWJ47lKacszphXM1w', '_blank')"
          class="btn-warning btn-xl-large btn-lg-large mx-3 mt-3 my-md-5 my-lg-5 my-xl-5 box-shadow"
        >
          Join Us on Slack
        </button>
      </div>
    </div>
    <div class="ctx-header-img d-lg">
      <img src="assets/images/logos/binbash-landing-header.svg" class="laverage-header-img mx-lg-5" />
    </div>
  </div>

</section>

<section class="second-gradiant-body w-100">
  <!--Whats is leverage-->
  <div class="conteiner-row-lg conteiner-row-xl conteiner py-5 my-5">
    <div class="conteiner" style="order:0; flex: 50%;">
      <div class="conteiner ctx-what-is mx-auto">
        <span class="display-3 text-dark Telegraf-UltraBold mt-4 text-align-center text-end-xl text-end-lg">What is Leverage?</span>
        <div class="conteiner text-dark h3 text-align-start text-end-xl text-end-lg my-xs-5 my-sm-5 my-md-5">
          <p class="my-3">
            <img src="assets/images/icons/check-ok.svg" class="mx-2" width="20px" height="20px"/>
            Our focus is on creating reusable, high quality AWS Cloud Infrastructure code, through our core components:
          </p>
          <p class="my-3 t-b">
            • Reference Architecture for AWS<br>
            • Infrastructure as Code (IaC) Library<br>
            • Leverage CLI<br>
          </p>
          <p class="my-3">
            <img src="assets/images/icons/check-ok.svg" class="mx-2" width="20px" height="20px"/>
            Because all the code and modules are already built, we can get your project up and running on AWS <span class="t-b">up to 10x faster</span>  than a consulting company.
          </p>
          <p class="my-3">
            <img src="assets/images/icons/check-ok.svg" class="mx-2" width="20px" height="20px"/>
            On top of code that is thoroughly documented, tested, and has been proven in production at dozens of other project deployments <span class="t-b">our Engineering Support Team.</span>
          </p>
          <button
            onclick="location.href='https://www.binbash.com.ar/leverage'"
            title="{{ page.next_page.title | e }}"
            type="button"
            class="btn-dark btn-xl-large btn-lg-large my-4 box-shadow ml-auto mx-xs-auto mx-sm-auto mx-md-auto"
          >
            Product Features
          </button>
        </div>
      </div>
    </div>
    <div class="conteiner" style="order:1; flex: 50%; overflow:hidden;">
      <img src="assets/images/illustrations/mock-mac-book-16.png" class="laverage-mac-img my-xs-5 my-sm-5 my-md-5" />
    </div>
  </div>
</section>


{% endblock %}