{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->

<!--binbash leverage documetation-->
<section class="first-gradiant-body w-100">
  <div class="md-grid conteiner-row pt-1 pt-lg-5 my-4">
    <div class="px-3 ctx-header-text conteiner">
      <div class="conteiner-row">
        <p class="h1 text-xs-center">
          HeiqiHuolin Website
        </p>
      </div>

      <!-- <img src="assets/images/gura_pixel.png" class="laverage-header-img d-lg-none d-xl-none mx-auto mb-5" /> -->

      <p class="h3 text-xs-center">It will be contain what I'm learning and learned, what I like and what I have <span class="t-b">published</span>.</p>
      
      <div class="conteiner-row conteiner-xs">
        <button
          type="button"
          title="{{ page.next_page.title | e }}"
          onclick="location.href='{{ page.next_page.url | url }}'"
          class="btn-dark btn-xl-large btn-lg-large mx-3  mt-3 my-md-5 my-lg-5 my-xl-5 box-shadow"
        >
            Get Started
        </button>

        <button
          type="button"
          title="{{ page.next_page.title | e }}"
          onclick="window.open('https://github.com/GuangShuaiWang', '_blank')"
          class="btn-warning btn-xl-large btn-lg-large mx-3 mt-3 my-md-5 my-lg-5 my-xl-5 box-shadow"
        >
          Go to Github
        </button>
      </div>
    </div>
    <div class="ctx-header-img d-lg">
      <!-- <img src="assets/images/gura.png" class="laverage-header-img mx-lg-5" style="border-radius: 50%;" /> -->
      <img img src="" class="laverage-header-img mx-lg-5" style="border-radius: 50%;" />
    </div>
    <script>
      // 定义一个数组，用于存储所有图片的文件名
      var images = ["gura1.png", "gura2.png"];
      // 生成一个随机数，用于在数组中选择一个随机的图片
      var randomIndex = Math.floor(Math.random() * images.length);
      // 获取图片元素，并将随机选择的图片设置为该元素的 src 属性值
      var img = document.querySelector('.laverage-header-img');
      img.src = "assets/images/" + images[randomIndex];
    </script>


    
  </div>

</section>

<section class="second-gradiant-body w-100">
  <!--Whats is leverage-->
  <div class="conteiner-row-lg conteiner-row-xl conteiner py-5 my-5">
    <div class="conteiner" style="order:0; flex: 50%;">
      <div class="conteiner ctx-what-is mx-auto">
        <span class="display-3 text-dark Telegraf-UltraBold mt-4 text-align-center text-end-xl text-end-lg">What is included?</span>
        <div class="conteiner text-dark h3 text-align-start text-end-xl text-end-lg my-xs-5 my-sm-5 my-md-5">
          <p class="my-3 custom-class">
            <img src="assets/images/learn_white.svg" class="mx-2" width="30px" height="30px"/>
            <strong>Learn:</strong>
          </p>
          <p class="custom-class">Here is my own content about learning.</p>
          
          <p class="my-3 custom-class">
            <img src="assets/images/academic.svg" class="mx-2" width="30px" height="30px"/>
            <strong>Academic:</strong>
          </p>
          <p class="custom-class">Here is my own content about academics.</p>
          
          <p class="my-3 custom-class">
            <img src="assets/images/hobby.svg" class="mx-2" width="30px" height="30px"/>
            <strong>Hobbies:</strong>
          </p>
          <p class="custom-class">Here is my own content about hobbies.</p>
                    
          <!-- <button
            onclick="location.href='https://www.binbash.com.ar/leverage'"
            title="{{ page.next_page.title | e }}"
            type="button"
            class="btn-dark btn-xl-large btn-lg-large my-4 box-shadow ml-auto mx-xs-auto mx-sm-auto mx-md-auto"
          >
            Product Features
          </button> -->
        </div>
      </div>
    </div>
    <!-- <div class="conteiner" style="order:1; flex: 50%; overflow:hidden;">
      <img src="assets/images/wattingtoadd.png" class="laverage-mac-img my-xs-5 my-sm-5 my-md-5" />
    </div> -->
  </div>
</section>


{% endblock %}